We will be using a supporting library called **tensorflow** to help with our NN-based classification and prediction. The **tensorflow** library was developed by Google, and is among one of the most popular machine learning library. 

We are still calling the NN operations from **sklearn**, but **sklearn** will rely on **tensorflow** to perform the complex mathematical computations regarding the updating of weights for the hidden layers. 

In the next cell, you will see that I install **tensorflow** directly from inside the notebook without having to open a new command line terminal. The **!** at the beginning of the cell tell Jupyter that this is a command to be executed in a command-line environment, and Jupyter will handle this execution behind the scene.

In [2]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\linhb\anaconda3\lib\site-packages (1.13.1)
Requirement already satisfied: gast>=0.2.0 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (0.2.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (1.15.4)
Requirement already satisfied: astor>=0.6.0 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (0.7.1)
Requirement already satisfied: wheel>=0.26 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (0.32.3)
Requirement already satisfied: tensorflow-estimator<1.14.0rc0,>=1.13.0 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (1.13.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: keras-applications>=1.0.6 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (1.0.7)
Requirement already satisfied: keras-preprocessing>=1.0.5 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (1.0.9)
Requirement already satisfied: absl-py>=0.1.6 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (0.7.0)
Requirement already satisfied: protobuf>=3.6.1 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (3.7.0)
Requirement already satisfied: six>=1.10.0 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (1.12.0)
Requirement already satisfied: grpcio>=1.8.6 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (1.19.0)
Requirement already satisfied: tensorboard<1.14.0,>=1.13.0 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow) (1.13.1)
Requirement already satisfied: mock>=2.0.0 in c:\users\linhb\anaconda3\lib\site-packages (from tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow) (2.0.0)
Requirement already satisfied: h5py in c:\users\linhb\anaconda3\lib\site-packages (from keras-applications>=1.0.6->tensorflow) (2.8.0)
Requirement already satisfied: setuptools in c:\users\linhb\anaconda3\lib\site-packages (from protobuf>=3.6.1->tensorflow) (40.6.3)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\linhb\anaconda3\lib\site-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (0.14.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\linhb\anaconda3\lib\site-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (3.0.1)
Requirement already satisfied: pbr>=0.11 in c:\users\linhb\anaconda3\lib\site-packages (from mock>=2.0.0->tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow) (5.1.3)

I have received feedback regarding putting all libraries at the beginning to avoid potential confusion. However, after thinking more carefully about this, I decide to continue only import libaries as needed. This is to emphasize which library is needed by which set of command, rather than importing everything from the beginning.

In [3]:
import pandas as pd

We revisiting the Titanic data. This time, we use an Excel-based dataset with more details than the previous Titatic datasets. The **pandas** library has the tool to support importing Excel data.

In [4]:
titanic_df = pd.read_excel('data/titanic3.xls',
                           'titanic3',
                           index_col = None,
                           na_values=['NA'])

Now that we have loaded the data, we can take a look at it

In [6]:
titanic_df.head(20)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr. Thomson",male,36.0000,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"

### Question 1:

One of the more important skills in programming is the ability to intepret how to call functions from external libraries (such as **pandas**), even though you have never used them before. Review the manual for `read_excel` at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html and answer the following questions:

1. Which parameter is `data/titanic3.xls`?
2. Which parameter is `titanic3`?
3. Why do we set `index_col` to **None**?
4. What does `na_values` do?

For 3 and 4, you can try modifying the `read_excel` line and view the data see the impact of `index_col` and `na_values`.

*Empty markdown cell. Click here and write down your answers*

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import random
import numpy as np
import pandas as pd

from sklearn import datasets, svm, cross_validation, tree, preprocessing, metrics
import sklearn.ensemble as ske
import tensorflow as tf
from tensorflow.contrib import skflow

ImportError: cannot import name 'cross_validation' from 'sklearn' (C:\Users\linhb\Anaconda3\lib\site-packages\sklearn\__init__.py)

In [ ]:
titanic_df = pd.read_excel('')